<h3>Generate PDF Document With Node JS</h3>
<form action="/download" method="GET">
    <label for="product">Select Product:</label>
    <select name="product" id="product">
        <option value="Product 1">Product 1</option>
        <option value="Product 2">Product 2</option>
    </select>
    <button type="submit" class="btn btn-success">Generate Pdf</button>
</form>
